.user-profile {
    background-repeat: no-repeat;
}
.user-profile .profile-text {
    padding-bottom: 0;
}
.no-footer .scroll-sidebar {
    padding-bottom: 0;
}
.single-column .footer {
    left: 0;
}
.container-fluid.no-title {
    padding-top: 30px;
}